html, body {
    height: 100%;
    background: #1f2227;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}

.parentContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
}

.mainContainer {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  height: 70%;
  width: 40%;
}

.topInnerContainer {
background-image: linear-gradient(
  225deg,
  hsl(235deg 92% 52%) 0%,
  hsl(258deg 82% 52%) 33%,
  hsl(272deg 75% 49%) 42%,
  hsl(285deg 76% 46%) 48%,
  hsl(298deg 77% 43%) 53%,
  hsl(311deg 82% 45%) 59%,
  hsl(320deg 87% 48%) 68%,
  hsl(327deg 94% 50%) 99%
  );
  border-radius: 10px 10px 0px 0px;
  height: 40%;
  width: 100%;
  text-align: center;
}

.bottomInnerContainer{
  background: #1A132F;
  border-radius: 0px 0px 10px 10px;
  height: 60%;
  width: 100%;
  text-align: center;
}

.mainInput {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15vh;
  font-style: bold;
  color: #FFFFFF;
  background-color: transparent;
  border-color: transparent;
  caret-color: transparent;
  margin: auto;
  outline: transparent;
  width: 100%;
  height: 100%;
  text-align: center; 
}

.resultHeader{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 3vh;
  font-style: bold;
  padding: 4px 0px 0px 0px;
  margin: 0px;
}

.resultValue {
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5b5a;
  padding: 2px 0px 0px 0px;
  font-size: 3vh;
  margin: 0px;
}